pypdf2
python-dotenv
openai
botocore
boto3
pytest
python-jose
starlette
pydantic
sqlalchemy
passlib
pydantic-settings
uvicorn
fastapi
httpx
email-validator
pydantic[email]
python-multipart
bcrypt
jinja2

