booktype
fastapi
asyncpg
redis==6.4.0,
SQLAlchemy>=2.0.43
pydantic>=2.11.0
python-dotenv
openai
botocore
boto3
pytest
python-jose
starlette
passlib
pydantic-settings
uvicorn
httpx
email-validator
pydantic[email]
python-multipart
bcrypt
jinja2
sqlalchemy[asyncio]
greenlet
passlib[argon2]
aio-pika
aiosmtplib
